.page {
  width: 100%;
  background-color: #070724;
  background-image: url(../../images/background-stars.svg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 786px) {
  .page {
    max-height: 929px;
  }
}