.planet__description {
  width: 350px;
  font-family: SpartanRegular;
  font-size: .875rem;
  line-height: 1.56rem;
  color: #FFFFFF;
  margin: 0 0 24px 0;
  height: 171px;
}

@media screen and (max-width: 1239px) {
  .planet__description {
    font-size: .68rem;
    line-height: 1.37rem;
    width: 339px;
    margin: 0 0 33px 0;
    height: 90px;
  }
}

@media screen and (max-width: 786px) {
  .planet__description {
    width: 325px;
    margin: 0 0 32px 0;
    text-align: center;
    height: 110px;
  }
}